#contenaire1 {
    background-color: aqua;
}
p{
    font-weight: bold;
}

.btn_cps1{
    background-color: red;
    color: white;
    width: 5em;
  }
  .btn_cps1 :hover{
    background-color: white;
    color: red;
  }

  .btn_cps1 .error{
    color: red;
  }